button{
    background-color: rgba(255,255,255,.4);
    border-color: #474448;
    border-radius: 10px;
    color: #474448;
    margin: 5px;
    padding: 10px 15px;
    text-transform: capitalize;
    font-size: 18px;
    transition: .5s all;

    &:hover{
        background-color: darken(rgba(255,255,255,.4), 20%);
    }
}